<ion-header [translucent]="true">
  <ion-toolbar>
  <ion-buttons slot="start">
    <ion-menu-button></ion-menu-button>
  </ion-buttons>
  <ion-title>Cadastro de Endereços</ion-title>
</ion-toolbar>
</ion-header>
<ion-content>
  <div class="signup-box">
    <h1>Cadastro de Endereços</h1>
    <h4>É gratuito e leva só um minutinho</h4>
    <form>
      <ion-label><b>Descrição:</b></ion-label>
      <ion-item>
        <ion-input type="text" placeholder=""></ion-input>
      </ion-item>

      <ion-label><b>Rua:</b></ion-label>     
      <ion-item>
        <ion-input type="text" placeholder=""></ion-input>
      </ion-item>

      <ion-label><b>Número:</b></ion-label>     
      <ion-item>
        <ion-input type="text" placeholder=""></ion-input>
      </ion-item>

      <ion-label><b>Bairro:</b></ion-label>     
      <ion-item>
        <ion-input type="text" placeholder=""></ion-input>
      </ion-item>

      <ion-label><b>Cep:</b></ion-label>     
      <ion-item>
        <ion-input type="text" placeholder=""></ion-input>
      </ion-item>

      <ion-label><b>Complemento:</b></ion-label>     
      <ion-item>
        <ion-input type="text" placeholder=""></ion-input>
      </ion-item>

      <ion-label><b>Cidade:</b></ion-label>     
      <ion-item>
        <ion-input type="text" placeholder=""></ion-input>
      </ion-item><br>

      <b>UF:</b><br><br>
      <select id="estado" name="estado">
        <option value="AC">Acre</option>
        <option value="AL">Alagoas</option>
        <option value="AP">Amapá</option>
        <option value="AM">Amazonas</option>
        <option value="BA">Bahia</option>
        <option value="CE">Ceará</option>
        <option value="DF">Distrito Federal</option>
        <option value="ES">Espírito Santo</option>
        <option value="GO">Goiás</option>
        <option value="MA">Maranhão</option>
        <option value="MT">Mato Grosso</option>
        <option value="MS">Mato Grosso do Sul</option>
        <option value="MG">Minas Gerais</option>
        <option value="PA">Pará</option>
        <option value="PB">Paraíba</option>
        <option value="PR">Paraná</option>
        <option value="PE">Pernambuco</option>
        <option value="PI">Piauí</option>
        <option value="RJ">Rio de Janeiro</option>
        <option value="RN">Rio Grande do Norte</option>
        <option value="RS">Rio Grande do Sul</option>
        <option value="RO">Rondônia</option>
        <option value="RR">Roraima</option>
        <option value="SC">Santa Catarina</option>
        <option value="SP">São Paulo</option>
        <option value="SE">Sergipe</option>
        <option value="TO">Tocantins</option>
    </select><br><br>

      <ion-button type="submit">Cadastrar</ion-button>
    </form>
    <p>
      Ao clicar no botão 'Cadastrar', você concorda com nossos<br />
      <a href="#">Termos e Condições</a> e <a href="#">Política de Privacidade</a>
    </p>
  </div>
  <p class="para-2">
    Já tem uma conta? <a routerLink="/login">Faça login aqui.</a>
  </p>
</ion-content>