<ion-header>
  <ion-toolbar>
    <ion-title>Cadastro de Usuário</ion-title>
  </ion-toolbar>
</ion-header>
  <ion-content class="ion-padding">
    <ion-item lines="none">
      <ion-label position="floating">Nome</ion-label>
      <ion-input type="text" required="true"></ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-label position="floating">Telefone</ion-label>
      <ion-input type="text" required="true"></ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-label position="floating">Rua</ion-label>
      <ion-input type="text" required="true"></ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-label position="floating">Número</ion-label>
      <ion-input type="text" required="true"></ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-label position="floating">Bairro</ion-label>
      <ion-input type="text" required="true"></ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-label position="floating">CEP</ion-label>
      <ion-input type="text" required="true"></ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-label position="floating">Cidade</ion-label>
      <ion-input type="text" required="true"></ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-label position="floating">UF</ion-label>
      <ion-select>
        <ion-select-option value="SP">São Paulo</ion-select-option>
        <ion-select-option value="PR">Paraná</ion-select-option>
        <ion-select-option value="SC">Santa Catarina</ion-select-option>
        <ion-select-option value="RS">Rio Grande do Sul</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item lines="none">
      <ion-label position="floating">Username</ion-label>
      <ion-input type="text" required="true"></ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" required="true"></ion-input>
    </ion-item>
    <div>
      <ion-button color="primary" expand="block">Salvar</ion-button>
      <ion-button color="danger" expand="block">Cancelar</ion-button>
    </div>
  </ion-content>  
