<ion-header [translucent]="true">
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Cadastro de Livros</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="signup-box">
    <h1>Cadastro de Livros</h1>
    <h4>É gratuito e leva só um minutinho</h4>
    <form>
      <ion-label><b>Título:</b></ion-label>
      <ion-item>
        <ion-input type="text" placeholder=""></ion-input>
      </ion-item>
      <ion-label><b>Páginas:</b></ion-label>     
      <ion-item>
        <ion-input type="text" placeholder=""></ion-input>
      </ion-item>
      <ion-label><b>Idioma:</b></ion-label>     
      <ion-item>
        <ion-input type="" placeholder=""></ion-input>
      </ion-item>
      <ion-label><b>Ano de publicação:</b></ion-label>      
      <ion-item>
        <ion-input type="" placeholder=""></ion-input>
      </ion-item>
      <ion-label><b>Editora:</b></ion-label>      
      <ion-item>
        <ion-input type="" placeholder=""></ion-input></ion-item>
      <ion-label><b>Preço:</b></ion-label>      
      <ion-item>
        <ion-input type="" placeholder=""></ion-input>
      </ion-item>
      <ion-button type="submit">Cadastrar</ion-button>
    </form>
    <p>
      Ao clicar no botão 'Cadastrar', você concorda com nossos<br>
      <a href="#">Termos e Condições</a> e <a href="#">Política de Privacidade</a>
    </p>
  </div>
  <p class="para-2">
    Já tem uma conta? <a routerLink="/login">Faça login aqui.</a>
  </p>
</ion-content>