<ion-header>
  <ion-toolbar>
    <ion-title>Login Adm</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item lines="inset">
    <ion-label position="floating">
      
    </ion-label>
    <ion-input type=""></ion-input>
    <ion-input type=""></ion-input>
  </ion-item>
</ion-content>
