<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <link rel="stylesheet" href="Css/style.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap"
      rel="stylesheet"
    />
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="login-box">
    <h1>Login</h1>
    <form>
      <ion-label>E-mail:</ion-label>
      <ion-input type="email" placeholder=""></ion-input>
      <ion-label>Senha:</ion-label>
      <ion-input type="password" placeholder=""></ion-input>
      <ion-button type="Submit">Entrar</ion-button>
    </form>
  </div>
  <p class="para-2">
    Não tem uma conta? <a routerLink="/home">Cadastre-se aqui.</a>
  </p>
</ion-content>