<ion-header [translucent]="true">
    <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Cadastro de Autores</ion-title>
  </ion-toolbar>
  </ion-header>
  <ion-content>
    <div class="signup-box">
      <h1>Cadastro de Autores</h1>
      <h4>É gratuito e leva só um minutinho</h4>
      <form>
        <ion-label><b>Nome:</b></ion-label>
        <ion-item>
          <ion-input type="text" placeholder=""></ion-input>
        </ion-item>
        <ion-label><b>Nacionalidade:</b></ion-label>     
        <ion-item>
          <ion-input type="text" placeholder=""></ion-input>
        </ion-item><br>
        <b>Sexo:</b><br><br>
        <input type="radio" id="feminino" name="genero" value="feminino" required>
        <label for="feminino">Feminino</label>
        <br>
        <input type="radio" id="masculino" name="genero" value="masculino" required>
        <label for="masculino">Masculino</label>
        <br>
        <input type="radio" id="outro" name="genero" value="outro" required>
        <label for="outro">Outro</label>
        <br><br>
        <label for="data_nascimento"><b>Data de Nascimento:</b></label><br>
        <input type="date" name="data_nascimento" id="data_nascimento" required>
        <br><br>
        <ion-button type="submit">Cadastrar</ion-button>
      </form>
      <p>
        Ao clicar no botão 'Cadastrar', você concorda com nossos<br />
        <a href="#">Termos e Condições</a> e <a href="#">Política de Privacidade</a>
      </p>
    </div>
    <p class="para-2">
      Já tem uma conta? <a routerLink="/login">Faça login aqui.</a>
    </p>
</ion-content>