ion-content{
    --ion-background-color: #344a72;
  }
  ion-item{
    --ion-background-color: white;
  }
    
    .signup-box {
      width: 360px;
      height: 660px;
      margin: auto;
      background-color: white !important;
      border-radius: 3px;
    }

    h1 {
      text-align: center;
      padding-top: 15px;
    }
    
    h4 {
      text-align: center;
    }
    
    form {
      width: 300px;
      margin-left: 20px;
    }
    
    form ion-label {
      display: flex;
      margin-top: 20px;
      font-size: 18px;
    }
    
    form ion-input {
      width: 100%;
      padding: 7px;
      border: none;
      border: 1px solid gray;
      border-radius: 6px;
      outline: none;
    }
    ion-button[type="submit"] {
      width: 320px;
      height: 35px;
      margin-top: 20px;
      border: none;
      --background: #49c1a2;
      color: white;
      font-size: 18px;
    }
    p {
      text-align: center;
      padding-top: 20px;
      font-size: 15px;
    }
    .para-2 {
      text-align: center;
      color: white;
      font-size: 15px;
      margin-top: -10px;
    }
    .para-2 a {
      color: #49c1a2;
    }  