<ion-header [translucent]="true">
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Estante Encantada - Início</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen="true">
  <ion-img src="../../assets/estante.jpg"></ion-img>

<ion-content [fullscreen]="true">
  <ion-button expand="full" *ngFor="let rota of rotas" [routerLink]="rota.path">
    {{ rota.text }}
  </ion-button>
</ion-content>
