<ion-header [translucent]="true">
  <ion-toolbar>
  <ion-buttons slot="start">
    <ion-menu-button></ion-menu-button>
  </ion-buttons>
  <ion-title>Cadastro de Funcionários</ion-title>
</ion-toolbar>
</ion-header>
<ion-content>
  <div class="signup-box">
    <h1>Cadastro de Funcionários</h1>
    <h4>É gratuito e leva só um minutinho</h4>
    <form>
      <ion-label><b>Nome:</b></ion-label>
      <ion-item>
        <ion-input type="text" placeholder=""></ion-input>
      </ion-item>
      <ion-label><b>Salário:</b></ion-label>     
      <ion-item>
        <ion-input type="text" placeholder=""></ion-input>
      </ion-item><br>
      <label for="data_nascimento"><b>Data de Admissão:</b></label><br>
      <input type="date" name="data_nascimento" id="data_nascimento" required>
      <br><br>
      <b>Cargo:</b><br>
      <input type="radio" id="atendente name=cargo" value="atendente" required>
      <label for="atendente">Atendente</label>
      <br>
      <input type="radio" id="repositor" name="cargo" value="repositor" required>
      <label for="repositor">Repositor</label>
      <br>
      <input type="radio" id="logistica" name="cargo" value="logistica" required>
      <label for="logistica">Logística</label>
      <br>
      <input type="radio" id="gestor" name="cargo" value="gestor" required>
      <label for="gestor">Gestor</label>
      <br><br>
      <ion-button type="submit">Cadastrar</ion-button>
    </form>
    <p>
      Ao clicar no botão 'Cadastrar', você concorda com nossos<br />
      <a href="#">Termos e Condições</a> e <a href="#">Política de Privacidade</a>
    </p>
  </div>
  <p class="para-2">
    Já tem uma conta? <a routerLink="/login">Faça login aqui.</a>
  </p>
</ion-content>